// _defaults.scss
//  Contains styles that form the basis of our design and should always be applied
//
// Authors: Rico Bergmann <rico.bergmann@naju-sachsen.de>

//
// Fonts
//

@font-face {
  font-family: 'Amaranth';
  src: url('/fonts/Amaranth-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.ttf');
}

:root {
  --naju-red: #{$naju-red};
  --naju-dark-green: #{$dark-green};
  --naju-light-green: #{$light-green};
  --naju-dark-red: #{$dark-red};
  --naju-extra-grey: #{$extra-grey};
  --naju-light-grey: #{$light-grey};
  --naju-default-beige: #{$default-beige};
  --naju-second-beige: #{$second-beige};
  --naju-text-color: #{$text-color};
  --naju-quote-color: #{$quote-color};
}

//
// Headings
//

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amaranth', sans-serif;
}

//
// Anchors
//

$link-underline-width: .125rem;

@mixin default-link {
  padding: .1rem;
  text-decoration: none;
  border-bottom-width: $link-underline-width;
  border-bottom-color: rgba($dark-red, 0.1);
  border-bottom-style: solid;
  transition: all .15s ease-in;
}

@mixin default-link-hover {
  padding: .1rem;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: $dark-red;
  box-shadow: inset 0 -.0125rem 0 $dark-red;
}

a:not(.btn) {
  color: $dark-red;
}

a:hover:not(.btn) {
  color: $dark-red;
}

#content a:not(.btn) {
  @include default-link;
}

#content a:hover:not(.btn) {
  @include default-link-hover;
}

//
// Navigation
//

.nav .sub-nav {
  margin-left: 1rem;
}

.nav-link.active {
  font-weight: bold;
}

//
// Text
//

.page-title {
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid $extra-grey;
}

blockquote {
  color: $quote-color;
  margin-left: 1px;
  padding-left: 0.75em;
  border-left: 2px solid $dark-red;
}

//
// Social media icons
//

img.social-logo {
	height: 40px;
}
