// _home.scss
//  Contains styles specific to the home page
//
// Authors: Rico Bergmann <rico.bergmann@naju-sachsen.de>

.card.intro-card {
	margin-bottom: 10px;
}

.card.intro-card .card-body-wrapper {
	background-size: cover;
	display: flex;
	align-items: flex-end;
	box-shadow: none;
}

.card.intro-card .card-body-wrapper .card-body {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), white);
	padding-top: 6rem;
}
