// _styles.scss
//  Contains additional CSS classes for components specific to our website
//
// Authors: Rico Bergmann <rico.bergmann@naju-sachsen.de>

//
// Image styling
//

@mixin img-fancy-base($color) {
  border: 5px solid $color;
}

.img-fancy {
  @include img-fancy-base($dark-red);
}

.img-fancy.img-fancy-default {
  @extend .img-fancy;
}

.img-fancy.img-fancy-green {
  @include img-fancy-base($light-green);
}

.img-fancy.img-fancy-green-alternate {
  @include img-fancy-base($dark-green);
}

.img-fancy.img-fancy-rotate {
  transform: rotate(-1deg);
}

.diashow {
  padding: 10px;
  border-radius: 10px;
  transition: all .4s ease; 
}

.diashow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel a.carousel-control-prev,
.carousel a.carousel-control-next {
  border: none !important;
  transition: none !important;
}

//
// BS extensions
//

.card.card-dense .card-body {
  padding: .75rem;
}

//
// Event calendar
//

.event-calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.event-calendar .event:hover {
  border-top: 1px solid $dark-red;
  border-bottom: 1px solid $dark-red;
}

.event-calendar .event {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: $list-group-border-width solid $list-group-border-color;
  border-bottom: $list-group-border-width solid $list-group-border-color;
}

.event-calendar .event .event-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.event-calendar .event .event-description.collapse:not(.show) {
  display: block;
}

@media screen and (max-width: map-get($grid-breakpoints, 'md') - 1) {

  $n-lines: 2;
  $event-description-collapsed-height: $default-line-height-factor * $font-size-base * $n-lines - 0.4 * $default-line-height-factor;

  .event-calendar .event .event-description.collapse:not(.show) {
    height: $event-description-collapsed-height !important;
    overflow: hidden;
    background-image: linear-gradient(180deg, white 50%, $light-grey);
  }

  .event-calendar .event .event-description.collapsing {
    height: $event-description-collapsed-height !important;
  }

  .event-calendar .event .event-description-wrapper .further-reading {
    overflow-anchor: none;
  }

  .event-calendar .event .event-description.collapse.show + .further-reading {
    display: none;
  }

}

@media screen and (min-width: map-get($grid-breakpoints, 'md')) {

  .event-calendar .event .event-description-wrapper .further-reading {
    display: none;
  }

}

.list-group.list-group-flush.event-calendar .list-group-item.event {
  border-top: 1px solid transparent;
}

.list-group.list-group-flush.event-calendar .list-group-item.event:hover {
  border-top: 1px solid $dark-red;
}

//
// News blog
//

.news-blog .news-item {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.news-blog .news-item .news-item-header {
  display: flex;
  flex-wrap: wrap;
}

.news-blog .news-item .news-item-header .news-item-title .news-item-sub-title {
  display: block;
}

@media screen and (max-width: map-get($grid-breakpoints, 'md') - 1) {
  .news-blog .news-item .news-image,
  .news-blog .news-item .news-content {
    padding-left: 0;
    padding-right: 0;
  }
}

//
// Registration form
//

.registration-form {
  padding: 1rem;
  border-radius: .7rem;
  background-color: hsl(0, 0%, 90%);
}

//
// Listings
//

@mixin card-link-align() {
  margin-bottom: .5rem;
  border-top: none;
  background-color: unset;
}

.listing .listing-end {
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid $extra-grey;
}

.listing:nth-last-child(1) .listing-end {
  border-bottom: none;
}

.listing-card .card-footer {
  @include card-link-align();
}

//
// Overview cards
//

.overview-cards .card-footer {
  @include card-link-align();
}
